* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amiko", sans-serif;
  background-image: linear-gradient(90deg, #537895, #062b5c);
  width: auto;
}

/*************************** navbar ***************************/
.navbar {
  width: 100%;
  background: #fdfdfd;
  -webkit-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
  float: none;
}

.image-header {
  width: 45px;
  height: 45px;
}

/*************************** description about-us ***************************/

.container {
  margin-top: 20px;
  background: whitesmoke;
  -webkit-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.description-paragraph {
  padding: 25px;
}

.social-logos {
  text-decoration: none;
  margin: 25px;
}

.github-logo,
.instagram-logo,
.youtube-logo {
  margin: 10px;
  width: 30px;
  height: 30px;
}

.google-custom-search{
  margin: 25px;
}

.radio-buttons{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding: 20px;
}

/*************************** Cards ***************************/

#cards {
  display: flex;
}

.card {
  flex: 1;
  margin: 30px;
  padding: 10px;
  border-radius: 25px;
  /* height: 230px; */
}

.card-header {
  background-color: #fff;
  color: #6D6D6D;
  border: none;
  line-height: 30px;
}

.card-title{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.card-body {
  padding-top: 0px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  float: right;
}

.covid {
  background-color: #FFA115;
}

.notcovid {
  background-color: #0062D4;
}

.btn-primary {
  background: #09203F;
  border-radius: 30px;
  opacity: 75%;
  margin-top: 20px;
  border: none;
}

.btn-covid{
  background: rgb(13, 167, 138);
  opacity: 100%;
  float: right;
}

@media only screen and (max-width: 768px) {
  #cards{
    display: block;
  }
  .btn-covid{
    float: right;
  }
}

@media only screen and (max-width: 390px) {
  .btn-covid{
    float: none;
  }
}